{% extends 'base_generic.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

    
<div class="full-screen">
    <video src="{% static 'css/video.mp4' %}" autoplay muted loop></video>
    <div class="bienvenida" >
    <h1>PandeViajes</h1>
      
{% if user.is_superuser %}
  <div>
  <p class="si" style="color: yellow;">Administrador</p>  
  </div>
  <p class="si">Estas registrado como: {{user.username}}  </p>
  <a href="{% url 'logout' %}">Cerrar sesion</a>
  <div class="usuario_">
  <a class="boton" style="color: green;" href="{% url 'signup' %}">Crear usuarios</a>
  <a style="color: green;" href="">Administrar usuarios</a>
  </div>
{% elif user.is_authenticated %}
  <p class="si">Estas registrado como: {{user.username}}  </p>
  <a href="{% url 'logout' %}">Cerrar sesion</a>
 
{% else %}
  <p class="no">No estas registrado</p>
  <a href="{% url 'login' %}">Iniciar sesion</a>
  <div class="resetpass">
  <a class="boton" style="color: red;" href="{% url 'password_reset' %}">Recuperar contraseña</a>
  <a class="boton" style="color: white;" href="{% url 'signup' %}">Crea una cuenta</a>
  </div>
{% endif %}
    </div>
</div>
{% endblock %}




