{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="full-screen">
<img src="{% static 'css/img/avion.jpg' %}" alt="avion">
    <div class="formu">
    <h1>Crea una nueva contraseña</h1>
    
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="boton"  type="submit" value="Cambiar contraseña">
            
        </form>

    </div>
</div>


{% endblock %}