{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="full-screen">
<img src="{% static 'css/img/avion.jpg' %}" alt="avion">
    <div class="formu">
    <h1>Te has olvidado de tu contraseña??</h1>
    <h2>Ingresa tu correo en el siguiente formulario y te enviaremos instrucciones</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="boton"  type="submit" value="Enviame instrucciones">
            
        </form>

    </div>
</div>


{% endblock %}