{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="full-screen">
<img src="{% static 'css/img/avion.jpg' %}" alt="avion">
    <div class="formu">
    <h1>Reiniciar contraseña</h1>
    <h2>Tu nueva contraseña ha sido cambiada con exito. Ahora puedes entrar en el siguiente link</h2>
    <a class="boton" style="color: green;" href="{% url 'login' %}">Ir a login</a>
        
            
      

    </div>
</div>


{% endblock %}